/* Update the existing styles */
body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding-top: 1em;
    text-align: center; 
}
/* Added selectors for navbar to center the elements with the document */
nav {
    text-align: center;
    padding: 1em;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    padding: 1em;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.fitbit-container {
    margin: 1em; 
    display: flex; 
    justify-content: center; 
    align-items: center; /* Align items vertically in the center */
}

card {
    border-style: solid;
    border-width: 1px; 
    padding: 1em;  
    margin: 0.5em;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calorie-calendar {
    border-style: solid;
    padding: 10%; 
    margin-left: 5%;
    margin-right: 20%;
}

/* Add some hover effect on cards */
card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

/* Add some styles to make it more visually appealing */

.calendar-graph {
    border-style: solid; 
    padding: 10%; 
    margin-top: 5%; 
    margin-left: 5%;
    margin-right: 20%;
}

/* Added classes and selectors for the data display sections*/

.main-data {
    display: flex;
    justify-content: center;
}

.info-display {
    display: flex;
    flex-flow: column wrap;
}

/* Added classes for proper sidebar functionality */

.sidebar {
    display: inline;
    border-style: solid;
    padding: 5%;
    margin-left: 5%;
}

.sidebar h2 {
    display: inline;
    padding-bottom: 1em;
    text-align: center;
    font-size: 1.2em;
    color: #333;
}

.box-shadow {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Optional: Add styles for responsive design */
@media screen and (max-width: 768px) {
    .calorie-calendar,
    .calendar-graph {
        margin: 5% 10%;
    }
}