/* Update the existing styles */
body {
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    padding: 1em;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.fitbit-container {
    margin: 1em; 
    display: flex; 
    justify-content: center; 
    align-items: center; /* Align items vertically in the center */
}

card {
    border-style: solid;
    border-width: 1px; 
    padding: 1em;  
    margin: 0.5em;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calorie-calendar,
.calendar-graph {
    border-style: solid; 
    padding: 5%; 
    margin: 5% auto; /* Center the elements horizontally */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Add some hover effect on cards */
card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

/* Add some styles to make it more visually appealing */
h1 {
    color: #333;
}

.calorie-calendar,
.calendar-graph {
    text-align: center;
    font-size: 1.2em;
    color: #333;
}

/* Optional: Add styles for responsive design */
@media screen and (max-width: 768px) {
    .calorie-calendar,
    .calendar-graph {
        margin: 5% 10%;
    }
}